[Unit]
Description=Bender
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 /home/pi/src/pRodriguezAssistant/robot.py

[Install]
WantedBy=multi-user.target
